/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*:focus-visible {
  outline-color: #d3d3d3;
}

* {
  --sb-track-color: transparent;
  --sb-thumb-color: #d4d7d9;
  --sb-size: 0.5rem;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-size);
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  visibility: hidden;
  opacity: 0;
}

*:hover::-webkit-scrollbar,
*:hover::-webkit-scrollbar-track,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;
}

html {
  font-size: 100%;
}

html,
body,
[data-js='root'] {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

[data-js='root'] {
  isolation: isolate;
}
